body {
    text-align: center;
}

h2{
    color: white;
}

#userNameInput{
    margin:1%;
}

#main-window{
    background-color: #b90000;
    text-align: center;
    padding: 1%;
    margin: 1%;
    margin-right: 1%;
    margin-left: 1%;
    border: 3px solid black;
}

#option2{
}

#invis {
  padding: 2%;
  display: none;
  width: 50%;
}

#aDepth{
    background-color: #b90000;
    color:white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 2%; 
}

#aDepth:hover{
    background-color: #8d0000;
}
  
#aDepth:hover + #invis {
    background-color: #b90000;
    position: absolute;
    border: 2px solid black;
    display: block;
    z-index:1000;
}

input, button, select{
    margin:1%;
}

table, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
